@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

:root {
    --diagonal-gradient: linear-gradient(45deg, #3700c3, #ff0066);
    --diagonal-gradient-2: linear-gradient(45deg, #8500c3, #ff0000);
    --diagonal-gradient-3: linear-gradient(180deg, #00000000, #121212);
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.strong {
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    background-image: var(--diagonal-gradient);
}

.cabeçalho {
    background-image: var(--diagonal-gradient-3);
    color: #fff;
    text-align: center;
    width: 100%;
    height: 70vh;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    animation: flutuar 3s ease-in-out infinite;
}

.conteudo-principal span {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    letter-spacing: 4px;
}

.conteudo-principal h1 {
    font-size: 120px;
    font-weight: 700;
    margin: 0;
}

#btn-ver-projects {
    background-image: var(--diagonal-gradient-2);
    border: none;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    width: 300px;
    transition: all 0.3s ease-in-out;
}

#btn-ver-projects:hover {
    position: 1;
    margin-top: 10px;
    width: 600px;
    border-radius: 100px;
    background-image: var(--diagonal-gradient);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }

}

#tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 450px;
    padding: 50px 0;
    background-image: var(--diagonal-gradient-2);
}

#tecnologias h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 60px 0;
}

.tecnologia-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.tecnologia-item i {
    color: #fff;
    font-size: 50px;
}

.tecnologia-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    min-width: 150px;
    height: 120px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px rgba(12, 12, 12, 0.5);
    transition: all 0.3s ease-in-out;
}

.tecnologia-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05) translate3d(0, -5px, 0);
    box-shadow: 4px 4px 8px rgba(12, 12, 12, 0.5);
}

.tecnologia-item p {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 450px;
    padding: 50px 0;
    background-color: #ffffff;
}

#projects h2 {
    color: #121212;
    font-size: 50px;
    font-weight: 700;
    margin: 60px 0 30px 0;
}

#projects i {
    color: #006eff;
    font-size: 50px;
}

.area-projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    flex-wrap: wrap;
    padding: 50px 20px;
    margin: 10px 0;
}

.area-projetos a {
    text-decoration: none;
}

.area-projetos a:hover {
    transform: scale3d(1.5em);
    transition: all 0.3s ease-in-out;
}

.projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 480px;
    border: 1px solid rgba(18, 18, 18, 0.1);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.projeto:hover {
    background-color: rgba(18, 18, 18, 0.05);
    transform: scale(1.05) translate3d(0, -5px, 0);
    box-shadow: 4px 4px 8px rgba(12, 12, 12, 0.2);
    transition: all 0.3s ease-in-out;
}

.projeto .image-project{
    width: 480px;
    height: 290px;
    border-radius: 15px 15px 0 0;
    overflow-x: hidden;
}

.texto-project {
    padding: 20px;
        align-items: left;
}

.texto-project h3 {
    color: #121212;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.texto-project p {
    color: #666;
    font-size: 16px;
    margin: 0;
    flex-wrap: wrap;
}